.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.title h1{
    font-size:3em;
    border-bottom: black 1px solid;
     padding-bottom:1rem; }
section {
    max-width: 960px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}
h1{
    font-size:35px;
}

.element1 div {
    color: black;
}

.element2 div {
    background-color: grey;
    color: black;
    font-size:small;
}

body {
    background-color: white;
}
p.formatafa{
    text-align:left;
    line-height: 2px;
    text-transform:lowercase;
}
img.luiz{
    border-radius: 20%;
    filter: grayscale(20%);
    cursor: pointer;
}
div.left{
padding-left: 0px;
width: 1300px;


}
div.whiter{
padding-left: 800px;
position: absolute;
display: inline;

}

.title h1 {
    font-size: 3em;
    color: black;
    padding-bottom: 1rem;
}

.home p {
    text-align: justify;
}

header {
    min-height: 50px;
    max-width: 960px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 70px;
    background-color: black;
}

main {
    background-color: transparent;
    color: white;
}

.menu ul {
    max-width: 960px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    padding-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu li {
    padding: 15px;
    min-width: 100px;
}

.menu a:link {
    color: grey;
    text-decoration: none;
}

.menu a:visited {
    color: grey;
    text-decoration: none;
}

.menu a:active {
    color: indigo;
    text-decoration: none;
}

footer {
    max-width: 960px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: f5f5f5;
    color: grey;

}

footer p {
    line-height: 35px;
}

footer .container {
    display: flex;
}

footer .menu a {
    color: crimson;
}

div.box {
    width: 200px;
    display: inline-block;
}
div.backgr{
    width: 200px;
    height: 50px;
    margin:auto;
    display: inline-block;
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

[data-tooltip] {
    position: relative;
    font-weight: bold;
}

[data-tooltip]:after {
    display: none;
    position: absolute;
    content: attr(data-tooltip);
    white-space: normal;
    color: rgb(0, 0, 0);
}

[data-tooltip]:hover:after {
    display: block;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    top:50px;
    left:60px;
}

.form div {
    text-align: center;
    color: white;
}

canvas {
    position: static;
    margin: auto;
    bottom: 0;
    background-color: rgb(245, 245, 245);
}